@import "tailwindcss";

@layer base {
  .font-averia {
    font-family: "Averia Libre", system-ui;
  }

  .font-titillium {
    font-family: "Titillium Web", sans-serif;
  }

  .font-alegreya {
    font-family: "Alegreya Sans", sans-serif;
  }

  img,
  video,
  svg {
    all: unset;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    all: unset;
  }

  .container {
    max-width: none;
    padding: 0;
  }
}
