@import "tailwindcss";

@layer base {
  :root {
    --fuente-averia: "Averia Libre", system-ui;
    --fuente-titillium: "Titillium Web", sans-serif;
    --fuente-alegreya: "Alegreya Sans", sans-serif;
  }

  .font-averia {
    font-family: var(--fuente-averia);
  }

  .font-titillium {
    font-family: var(--fuente-titillium);
  }

  .font-alegreya {
    font-family: var(--fuente-alegreya);
  }

  img,
  video,
  svg {
    all: unset;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    all: unset;
  }

  .container {
    max-width: none;
    padding: 0;
  }
}
